.super-mario {
    width: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 450px;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    top: 150px;
    left: 400px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 190px;
    left: 420px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 300px;
    left: 700px;
  }