h1 {
    font-size: 65px;
    color: rgb(17, 0, 255);
    font-family: sans-serif, monospace;
   }
  
   body{
       font-size: 16px;
   }

   p {
       font-weight: 600;
       font-size: 3em;
   }
   li {
       background-color: rgb(43, 255, 0)
   }

   .list-p {
       background-color: yellow;
       font-weight: bold;
       font-style: italic;
       line-height: 30px;
       text-align: center;
       text-decoration:underline;
   }
   
   #a {
      background-color: yellow;
   }

   #v {
      background-color: red;
   }

   #m {
      background-color: brown;
   }