* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
  display: flex;
  justify-content: center;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.box-container {  
  background-color: #323433;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabeçalho {
  color: white;
}

.p {
  display: flex;
  justify-content: center;
}




